 $navbar-default-bg: #08088A;
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #logo {

    font-size: 1.7em;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: .5px; 
    font-weight: bold;
    font-style: italic;
    padding: 15px 0 ;
 }
 #logo::first-letter{

    font-size: 2.2em;
    font-style: italic;
 }

 .jumbotron{
    color:#fff;
    background:url(sports.jpg) 50% 50%;
    background-size: cover;
    height: 650px;
 }

 .center{
     text-align:center;
 }


 .footer{
     background-color: #000;
   height: 100px;
   color: #fff;
   text-align: center;
   padding-top:20px;
   margin-top: 45px;
 }

 .footer ul{

 }

 .footer a{
     color:#fff;
 }